{% extends 'layout.html' %}
{% block body %}
<div class="row col-md-offset-3">
  <div style="width:70%;">
    <form action="/search" method="POST" class="search-form">
      <div class="input-group">
        <input type="text" class="form-control" name="lineItemId" placeholder="Please enter the line item ID"></input>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" value="search_embed">
           <i class="glyphicon glyphicon-search"></i></button>
           {% if form.lineItemId.errors %}
          <ul class=errors>
            {% for error in form.lineItemId.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel-body">
  <table class="table-striped" style="width:100%;">
    <tr>
      <th style="width:70%;">
        <div class="name-column">
          <table class="table">
            <tr>
              <th>LineItem Name : </th>
              <th>{{ data['ProviderId'] }}</th>
              <th>Order : </th>
              <th>{{ data['Name'] }}</th>
              <th>Start time : </th>
              <th>{{ data['Email'] }}</th>
              <th> End Date : </th>
              <th> test result</th>
            </tr>
            <tr>
              <th>Impressions Delivered :  </th>
              <th>{{ data['ProviderId'] }}</th>
              <th>Clicks Delivered : </th>
              <th>{{ data['Name'] }}</th>
              <th>Viewable Impressions : </th>
              <th>{{ data['Email'] }}</th>
              <th> Video Completions : </th>
              <th> test result</th>
            </tr>
            <tr>
              <td>Creative Rotation Type : </td>
              <td>{{ data['APIKey'] }}</td>
              <td>Delivery Rate Type : </td>
              <td>{{ data['APISecret'] }}</td>
              <td>Road Blocking Type : </td>
              <td>{{ data['Pcode'] }}</td>
              <td>LineItem Type : </td>
              <td> test result 2</td>
            </tr>
            <tr>
              <th>Status :  </th>
              <th>{{ data['ProviderId'] }}</th>
              <th>Missing Creatives ? : </th>
              <th>{{ data['Name'] }}</th>
              <th>Email</th>
              <th>{{ data['Email'] }}</th>
              <th> Notes :  </th>
              <th> test result</th>
            </tr>
          </table>
        </div>
      </th>
    </tr>
  </table>
</div>
{% endblock %}
