{% extends 'layout.html' %} {% block body %}
<style type="text/css">
   html, body, div, iframe { margin:0; padding:0; height:100%; }
   iframe { position:fixed; display:block; width:100%; border:none; }
</style>
<div class="row col-md-offset-3">
  <div style="width:70%;">
    <form action="/search" method="POST" class="search-form">
      <div class="input-group">
        <input type="text" class="form-control" name="lineItemId" placeholder="Please enter the Order ID"  }}></input>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" value="search_embed">
           <i class="glyphicon glyphicon-search"></i></button>
          {% if form.lineItemId.errors %}
          <ul class=errors>
            {% for error in form.lineItemId.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>

<div class="embed-responsive embed-responsive-21by9">
  <iframe  src="//www.youtube.com/embed/C8kSrkz8Hz8"></iframe> 
</div>



{% endblock %}
